/*
 Created on     April 05th, 2016
 Created by     Greentrees
 */

@charset "utf-8";

body {
    padding-top:70px;
    font-family: Arial !important;
}

a {
    -webkit-tap-highlight-color: rgba(226, 226, 226, 0.4);
}

a.clean {
    color: inherit !important;
}

.footer {
    background-color: #3e444c !important;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90 {
    display: inline-block;
}
.w10 {width: 10%}
.w20 {width: 20%}
.w30 {width: 30%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}

.navbar .navbtn-group {
    float: left;
    display: block;
    width: auto;
    height: 50px;
}
.navbar .navbtn-group:after {
    content: "";
    clear: both;
    display: block;
}
.navbar .navbtn-group a {
    color: inherit;
    text-decoration: none;
}
.navbar .navbtn-group > a {
    display: block;
    float:left;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 10px;
    border-right:1px solid #dfdfdf;
}
.navbar .navbtn-group > .active {
    background: #272b2e;
    color: #fff;
}
.navbar .navbtn-group > .open {
    background: #272b2e;
    color: #fff;
}

.navbar .dropdown {
    display: block;
    float:left;
    border-right:1px solid #dfdfdf;
}
.navbar .dropdown-toggle {
    display: block;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 10px;
}

.navbar .currency {
    float: right;
    padding: 14px 0;
    font-weight: bold;
    font-size: 16px;
}

.dropdown-menu a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.text-outgo {
    color: red;
}
.text-income {
    color: #2EFEF7;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 16px;
}

.form-group > select,
.row > .col-xs-1 > select,
.row > .col-xs-2 > select,
.row > .col-xs-3 > select,
.row > .col-xs-4 > select,
.row > .col-xs-5 > select,
.row > .col-xs-6 > select,
.row > .col-xs-7 > select,
.row > .col-xs-8 > select,
.row > .col-xs-9 > select,
.row > .col-xs-10 > select,
.row > .col-xs-11 > select,
.row > .col-xs-12 > select {
    font-size: 16px;
}

/* Chỉnh span trong progress bar vô giữa div */
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
}

.ui-autocomplete-loading {
    background:url('../images/indicator.gif') no-repeat;
    background-position: right 10px center;
}

.table-ex td {
    vertical-align: middle !important;
}

.page-nav {
    line-height: 30px;
    background-color: #565656;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.page-nav .col-xs-1,
.page-nav .col-xs-2,
.page-nav .col-xs-3,
.page-nav .col-xs-4,
.page-nav .col-xs-5,
.page-nav .col-xs-6,
.page-nav .col-xs-7,
.page-nav .col-xs-8,
.page-nav .col-xs-9,
.page-nav .col-xs-10,
.page-nav .col-xs-11,
.page-nav .col-xs-12 {
    line-height: 30px;
}

.no-top-border {
    border-top: none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Sticky footer style
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    display: table;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
}

.footer .container {
    display: table-cell;
    height: 80px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

table.last-row-is-total tr:nth-last-child(2) td,
table.last-row-is-total tr:nth-last-child(2) th {
    border-bottom: 1px solid #c8c8c8
}

.table-summarize {
    font-size: 12px;
    margin:10px 0;
}

/* Infinite loading style
-------------------------------------------------- */
@keyframes blink {
  75% { opacity: 0.0; }
}
@-webkit-keyframes blink {
  75% { opacity: 0.0; }
}
.infinite-loading:after {
    content: 'Loading...';
    display: block;
    margin-bottom: 20px;
    text-align: center;
    animation: blink 1s step-end infinite;
    -webkit-animation: blink 0.5s step-end infinite;
}

/* Disable iOS device render using iOS button */
input[type="date"] {
    display:inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 0;
    padding-bottom: 0;
}

/* Utility class */
.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.mt-0 { margin-top:0!important; }
.mr-0 { margin-right:0!important; }
.mb-0 { margin-bottom:0!important; }
.ml-0 { margin-left:0!important; }
.mx-0 { margin-left:0 !important;margin-right:0 !important; }
.my-0 { margin-top:0!important;margin-bottom:0!important; }

.mt-1 { margin-top:.25rem!important; }
.mr-1 { margin-right:.25rem!important; }
.mb-1 { margin-bottom:.25rem!important; }
.ml-1 { margin-left:.25rem!important; }
.mx-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
.my-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
.mb-2 { margin-bottom:.5rem!important; }
.ml-2 { margin-left:.5rem!important; }
.mx-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
.my-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }

.mt-3 { margin-top:1rem!important; }
.mr-3 { margin-right:1rem!important; }
.mb-3 { margin-bottom:1rem!important; }
.ml-3 { margin-left:1rem!important; }
.mx-3 { margin-right:1rem!important;margin-left:1rem!important; }
.my-3 { margin-bottom:1rem!important;margin-top:1rem!important; }

.mt-4 { margin-top:1.5rem!important; }
.mr-4 { margin-right:1.5rem!important; }
.mb-4 { margin-bottom:1.5rem!important; }
.ml-4 { margin-left:1.5rem!important; }
.mx-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
.my-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }

.mt-5 { margin-top:3rem!important; }
.mr-5 { margin-right:3rem!important; }
.mb-5 { margin-bottom:3rem!important; }
.ml-5 { margin-left:3rem!important; }
.mx-5 { margin-right:3rem!important;margin-left:3rem!important; }
.my-5 { margin-top:3rem!important;margin-bottom:3rem!important; }

.mt-auto { margin-top:auto!important; }
.mr-auto { margin-right:auto!important; }
.mb-auto { margin-bottom:auto!important; }
.ml-auto { margin-left:auto!important; }
.mx-auto { margin-right:auto!important;margin-left:auto!important; }
.my-auto { margin-bottom:auto!important;margin-top:auto!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }

.pt-0 { padding-top:0!important; }
.pr-0 { padding-right:0!important; }
.pb-0 { padding-bottom:0!important; }
.pl-0 { padding-left:0!important; }
.px-0 { padding-left:0!important;padding-right:0!important; }
.py-0 { padding-top:0!important;padding-bottom:0!important; }

.pt-1 { padding-top:.25rem!important; }
.pr-1 { padding-right:.25rem!important; }
.pb-1 { padding-bottom:.25rem!important; }
.pl-1 { padding-left:.25rem!important; }
.px-1 { padding-left:.25rem!important;padding-right:.25rem!important; }
.py-1 { padding-top:.25rem!important;padding-bottom:.25rem!important; }

.pt-2 { padding-top:.5rem!important; }
.pr-2 { padding-right:.5rem!important; }
.pb-2 { padding-bottom:.5rem!important; }
.pl-2 { padding-left:.5rem!important; }
.px-2 { padding-right:.5rem!important;padding-left:.5rem!important; }
.py-2 { padding-top:.5rem!important;padding-bottom:.5rem!important; }

.pt-3 { padding-top:1rem!important; }
.pr-3 { padding-right:1rem!important; }
.pb-3 { padding-bottom:1rem!important; }
.pl-3 { padding-left:1rem!important; }
.py-3 { padding-bottom:1rem!important;padding-top:1rem!important; }
.px-3 { padding-right:1rem!important;padding-left:1rem!important; }

.pt-4 { padding-top:1.5rem!important; }
.pr-4 { padding-right:1.5rem!important; }
.pb-4 { padding-bottom:1.5rem!important; }
.pl-4 { padding-left:1.5rem!important; }
.px-4 { padding-right:1.5rem!important;padding-left:1.5rem!important; }
.py-4 { padding-top:1.5rem!important;padding-bottom:1.5rem!important; }

.pt-5 { padding-top:3rem!important; }
.pr-5 { padding-right:3rem!important; }
.pb-5 { padding-bottom:3rem!important; }
.pl-5 { padding-left:3rem!important; }
.px-5 { padding-right:3rem!important;padding-left:3rem!important; }
.py-5 { padding-top:3rem!important;padding-bottom:3rem!important; }
