/*
 Created on     April 05th, 2016
 Created by     Greentrees
 */

@charset "utf-8";

.w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90 {
    display: inline-block;
}
.w10 {width: 10%}
.w20 {width: 20%}
.w30 {width: 30%}
.w40 {width: 40%}
.w50 {width: 50%}
.w60 {width: 60%}
.w70 {width: 70%}
.w80 {width: 80%}
.w90 {width: 90%}


.navbar .navbtn-group{
    float: left;
    display: block;
    width: auto;
    height: 50px;
}
.navbar .navbtn-group:after{
    content: "";
    clear: both;
    display: block;
}
.navbar .navbtn-group a{
    display: block;
    float:left;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 10px;
    border-right:1px solid #dfdfdf;
    text-decoration: none;
    color:#333;
}
.navbar .navbtn-group a.active{
    background: #e7e7e7;
}

.text-red {
    color: red;
}
.text-blue {
    color: #0000ff;
}

select, 
textarea,
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] { 
    font-size: 16px; 
}

.form-group > select,
.row > .col-xs-1 > select,
.row > .col-xs-2 > select,
.row > .col-xs-3 > select,
.row > .col-xs-4 > select,
.row > .col-xs-5 > select,
.row > .col-xs-6 > select,
.row > .col-xs-7 > select,
.row > .col-xs-8 > select,
.row > .col-xs-9 > select,
.row > .col-xs-10 > select,
.row > .col-xs-11 > select,
.row > .col-xs-12 > select{
    font-size: 16px;
}
